
*.cache
*.txt
*.config
*.settings
*.resx
*.exe
*.pdb
*.lock
*.ide
*.ide-shm
*.ide-wal
test/.vs/test/v15/.suo
test/ch3_flashyThing/obj/Debug/ch3_flashyThing.Properties.Resources.resources
test/ch3_flashyThing/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
test/ch3_flashyThing/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
test/ch3_flashyThing/Properties/AssemblyInfo.cs
test/ch3_flashyThing/Properties/Resources.Designer.cs
test/ch3_flashyThing/Properties/Settings.Designer.cs
test/ch3_moneyTrading/obj/Debug/ch3_moneyTrading.Form1.resources
test/ch3_moneyTrading/obj/Debug/ch3_moneyTrading.Properties.Resources.resources
test/ch3_moneyTrading/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
test/ch3_moneyTrading/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
test/ch3_moneyTrading/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
test/ch3_moneyTrading/Properties/AssemblyInfo.cs
test/ch3_moneyTrading/Properties/Resources.Designer.cs
test/ch3_moneyTrading/Properties/Settings.Designer.cs
test/ch3_navi/obj/Debug/ch3_navi.Form1.resources
test/ch3_navi/obj/Debug/ch3_navi.Properties.Resources.resources
test/ch3_navi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
test/ch3_navi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
test/ch3_navi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
test/ch3_navi/Properties/AssemblyInfo.cs
test/ch3_navi/Properties/Resources.Designer.cs
test/ch3_navi/Properties/Settings.Designer.cs
test/test/AnotherClass.cs
test/test/obj/Debug/test.Properties.Resources.resources
test/ch4_hitTheKey/Properties/AssemblyInfo.cs
test/ch4_hitTheKey/Properties/Resources.Designer.cs
test/ch4_hitTheKey/Properties/Settings.Designer.cs
test/ch4_type/Properties/AssemblyInfo.cs
test/ch4_type/Properties/Resources.Designer.cs
test/ch4_type/Properties/Settings.Designer.cs
